body{
    background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    color:#FDFDFE;
    font-size:16px;
    font-family:'Source Code Pro'
  }
  .primary-btn{
    border: none;
    background:#816df2 ;
    padding: 10px 20px;
    border-radius: 10px;
    color: #e9e9e9;
    margin-top: 2em;
    font-size: 0.5em;
    cursor: pointer;
  }
  .start-game.hide{
    display: none;
  }
  .start-game{
    cursor: pointer;
  }
  .start-game{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(49, 49, 49, 0.938);
    z-index: 2;
  }
  .btn {
    cursor:pointer;
    transition: all .2s ease-in-out;
  }
  .btn:hover {
    transform:rotate(3deg) scale(1.3);
  }
  h1{
    color: white;
    font-family: 'Finger Paint', cursive;
    text-align: center;
  }
  h2{
    color: white;
    font-family: 'Finger Paint', cursive;
    text-align: center;
    display: block;
  }
  td {
    background-color:white;
    border-radius:25%;
    opacity:.2;
    width:50px;
    height:50px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    color:white;
  }
  .text{
      color: white;
      opacity: 1;
      /* z-index: 2; */
      background-color: transparent;
      border: none; 
  }
  .changeChar{
    width:100%;
    display:inline-flex;
    flex-direction:row;
    justify-content:center;
  }
  td:hover{
    opacity:0.4;
  }
  .vs{
    padding-left: 5%;
    padding-right: 5%;
  }
  .content{
   position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:block;
  }
  
  table{
    width:300px;
    height:300px;
  }
  
  .table_overlay{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width:300px;
    height:300px;
  }
  
  .modal {
      display:none;
      position: fixed; 
      z-index: 1; 
      left: 0;
      top: 0;
    
      width: 100%; 
      height: 100%; 
      overflow: auto; 
      background-color: rgb(0,0,0); 
      background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto; 
    padding: 0px;
    border-radius:10px;
    width: 400px;
    height:200px;
    font-size:17px;
    text-align:center;
    font-family:'Montserrat', sans-serif;;
  }
  
  .modal-header {
    padding: 2px;
    border-radius:10px 10px 0 0;
  }
  
  .modal-body{
    top: -10px;
    position: relative;
  }
  
  btn{
    position: relative;
    top: 10px;
    border-radius:7px;
    padding:10px;
    margin-top:10px;
    color:white;
    background-color:#57e499;
    cursor:pointer;
  }
  
  btn:hover{
    background-color:#077818;
  }
  .undo{
    position: absolute;
    top: 70%;
    left: 50%;
  }

